<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Formulario de inicio de sesion-->
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'AppBlog/css/stylesFL.css' %}">
    <title>Iniciar Sesión</title>
</head>
<body>
    <form action="{% url 'login_request' %}" method="POST"> {% csrf_token %} 
        <h1>Ingrese sus datos</h1>

        {{ form.as_p }}
    
        <button>Iniciar Sesión</button>
    
        <p class="link"><a href="{% url 'register' %}">¿Aun no tienes cuenta?</a></p>
    </form>
</body>
</html>